@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}



/* box */
.box{
    border: 6px solid rgb(251, 1, 243);
    height: 696px;
    width: 1100px;
    margin: 60px 0px 20px 170px;
}



/* HEADING */
#title{
    position: absolute;
    font-family: 'Days One', sans-serif;
    font-size: 80px;
    color: rgb(108 86 255);
    margin: 15px 0px 0px 150px;
}
#title2{
    font-family: 'Inknut Antiqua', serif;
    font-size: 35px;
    margin: 80px 0px 0px 350px;
    color: rgb(251, 1, 243);
}


/* instructions */
#inst{
    font-family: 'Inknut Antiqua', serif;
    font-size: 25px;
    color: white;
    margin-left: 10px;
}



/* ball */
#ball{
    /* background-color: rgba(236, 34, 34, 1); */
    background-color: rgb(189 236 34);
    height: 77px;
    width: 86px;
    border-radius: 100%;
    text-align: center;
    margin: 15px 0px 0px 550px;
    padding: 10px 0px 0px 0px;
    font-family: 'Inknut Antiqua', serif;
    font-size: 24px;
}
a{
    text-decoration: none;
    color: black;
}



/* platform */
#platform{
    height: 24px;
    width: 226px;
    background-color: rgba(9, 23, 147, 1);
    margin: 0px 0px 0px 470px;
}







@media only screen and (max-width: 900px){
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}



/* box */
.box{
    border: 6px solid rgb(251, 1, 243);
    height: 696px;
    width: 339px;
    margin: 60px 0px 20px 15px;
}



/* HEADING */
#title{
    position: absolute;
    font-family: 'Days One', sans-serif;
    font-size: 28px;
    color: rgb(108 86 255);
    margin: 15px 0px 0px 33px;
}
#title2{
    font-family: 'Inknut Antiqua', serif;
    font-size: 20px;
    margin: 35px 0px 0px 55px;
    color: rgb(251, 1, 243);
}


/* instructions */
#inst{
    font-family: 'Inknut Antiqua', serif;
    font-size: 18px;
    color: white;
    margin-left: 10px;
}



/* ball */
#ball{
    /* background-color: rgba(236, 34, 34, 1); */
    background-color: rgb(189 236 34);
    height: 77px;
    width: 86px;
    border-radius: 100%;
    text-align: center;
    margin: 15px 0px 0px 140px;
    padding: 10px 0px 0px 0px;
    font-family: 'Inknut Antiqua', serif;
    font-size: 24px;
}
a{
    text-decoration: none;
    color: black;
}



/* platform */
#platform{
    height: 24px;
    width: 226px;
    background-color: rgba(9, 23, 147, 1);
    margin: 0px 0px 0px 60px;
}
}
/* @media only screen and (max-width: 340px){

} */